@import '@wedex/components/dist/es/index.css';

body {
  @apply font-primary text-color2 leading-5 break-words;
}

::-webkit-scrollbar {
  @apply h-1 w-1;

  background: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded h-1 w-1;
}

::-webkit-scrollbar-track {
  background: none;
}
